@page
@model Segunda_tarea_programada.Pages.Interfaz.EliminarModel
@{
    ViewData["Title"] = "Eliminar Codigo";
}

<head>
    <link rel="stylesheet" href="~/css/estilo_articulos.css" asp-append-version="true" />
</head>

<body>
    <h1>@ViewData["Title"]</h1>

    <form method="post">
        <div>
            <label for="Codigo">Insertar Código:</label>
            <input type="text" id="Codigo" name="Codigo" required />
            <button type="submit" id="btnOK">OK</button>
        </div>
    </form>

    <div>
        <button type="button" id="btnCancelar" onclick="ArticuloRedireccion()">Cancelar</button>
        
    </div>

</body>

<script>
    function ArticuloRedireccion() {
        window.location.href = "/Interfaz/Articulos"; // Cambia la URL según tu configuración
    }
</script>